/* Colors */

:root {
  --color-white: #fafafa;
  --color-black: #212121;
  --color-secondary: #454545;
  --color-secondary-back: #dddddd;
  --color-primary: #2d72d2;
  --color-primary-hover: #215db0;
  --color-primary-active: #184a90;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --color-text: var(--color-black);
    --color-text-secondary: var(--color-secondary);

    --color-back: var(--color-white);
    --color-back-secondary: var(--color-secondary-back);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-text: var(--color-white);
    --color-text-secondary: var(--color-secondary-back);

    --color-back: var(--color-black);
    --color-back-secondary: var(--color-secondary);
  }
}
