/* Section */

.section {
    padding-block: 1rem;
}

.section__title {
    margin-block: 0 1rem;
    font-size: var(--font-size-h2);
    line-height: 1;
}

.section__title span {
    font-style: italic;
    font-weight: normal;
    font-size: var(--font-size-md);
    line-height: 1;
    vertical-align: top;
    color: var(--color-text-secondary);
}